node-red/flows.json
[{"id":"408bb41c.5eb9dc","type":"tab","label":"Test 1: CSV + JS concat","disabled":false,"info":""},{"id":"273e065d.1ae6ba","type":"tab","label":"Test 2: CSV + Template","disabled":false,"info":""},{"id":"d30f0a1e.6a6968","type":"tab","label":"Test 3: sqlstring node","disabled":false,"info":""},{"id":"f651c659.58e348","type":"tab","label":"Test 4: JSON + JS concat","disabled":false,"info":""},{"id":"30a2a8b5.841838","type":"tab","label":"Test 4: sqlstring","disabled":false,"info":""},{"id":"89f16d5e.a373b","type":"tab","label":"Test 5: JS params + Template query","disabled":false,"info":""},{"id":"2b0cf117.cff45e","type":"mqtt-broker","name":"mqtt://broker/smmr","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5d94fcb2.a8c3d4","type":"postgresdb","cfgname":"psql://db/smr","hostname":"db","port":"5432","db":"smr","ssl":false},{"id":"168f2030.e970e","type":"postgresdb","z":"89f16d5e.a373b","hostname":"localhost","port":"5432","db":"postgres"},{"id":"5d80f6ca.c4fe18","type":"mqtt in","z":"408bb41c.5eb9dc","name":"","topic":"test1","qos":"2","datatype":"auto","broker":"2b0cf117.cff45e","nl":false,"rap":false,"x":150,"y":160,"wires":[["9fb51f05.dcf16"]]},{"id":"9fb51f05.dcf16","type":"csv","z":"408bb41c.5eb9dc","name":"smmr-co2","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"device,ts,lat, long, alt, sensor, co2, tvoc, temp, hum, pres","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":380,"y":160,"wires":[["9d0f6ac2.f7d208"]]},{"id":"63f07b44.27f6e4","type":"postgres","z":"408bb41c.5eb9dc","postgresdb":"5d94fcb2.a8c3d4","name":"psql://db/smr","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":910,"y":160,"wires":[]},{"id":"9d0f6ac2.f7d208","type":"function","z":"408bb41c.5eb9dc","name":"query","func":" \nif (typeof msg.payload.lat === 'undefined') { msg.payload.lat = \"null\"; }\nif (typeof msg.payload.long === 'undefined') { msg.payload.long = \"null\"; }\nif (typeof msg.payload.alt === 'undefined') { msg.payload.alt = \"null\"; }\n\nmsg.payload = \"INSERT INTO smr.air VALUES (\"\n    +\"'\"+msg.payload.device+\"'\"\n    +\",'\"+msg.payload.ts+\"'\"\n    +\",\"+msg.payload.lat\n    +\",\"+ msg.payload.long\n    +\",\"+ msg.payload.alt\n    +\",'\"+msg.payload.sensor+\"'\"\n    +\",\"+msg.payload.co2\n    +\",\"+msg.payload.tvoc\n    +\",\"+msg.payload.temp\n    +\",\"+ msg.payload.hum\n    +\",\"+ msg.payload.pres\n    +\")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":160,"wires":[["63f07b44.27f6e4","4bd36d60.28fd34"]]},{"id":"4bd36d60.28fd34","type":"debug","z":"408bb41c.5eb9dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":60,"wires":[]},{"id":"ed3c464a.266ad8","type":"postgres","z":"f651c659.58e348","postgresdb":"5d94fcb2.a8c3d4","name":"psql://db/smr","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":710,"y":220,"wires":[]},{"id":"76bda9a5.4267e8","type":"debug","z":"f651c659.58e348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"ce93daaa.565d58","type":"function","z":"f651c659.58e348","name":"query","func":" \n//data = JSON.parse(msg.payload);\ndata = msg.payload;\n\nif (typeof data.lat === 'undefined') { data.lat = \"null\"; }\nif (typeof data.long === 'undefined') { data.long = \"null\"; }\nif (typeof data.alt === 'undefined') { data.alt = \"null\"; }\n\n\nmsg.payload = \"INSERT INTO smr.air (device, ts, lat, long, alt, sensor, co2, tvoc, temp, hum, pres) VALUES (\"\n    + \"'\" + data.device+\"'\"\n    + \",'\" + data.ts+\"'\"\n    + \",\" + data.lat\n    + \",\" + data.long\n    + \",\" + data.alt\n    + \",'\" + data.sensor+\"'\"\n    + \",\" + data.co2\n    + \",\" + data.tvoc\n    + \",\" + data.temp\n    + \",\" + data.hum\n    + \",\" + data.pres\n    + \")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":220,"wires":[["ed3c464a.266ad8","76bda9a5.4267e8"]]},{"id":"e989f4a3.662d18","type":"mqtt in","z":"f651c659.58e348","name":"","topic":"test4","qos":"2","datatype":"auto","broker":"2b0cf117.cff45e","nl":false,"rap":false,"x":90,"y":220,"wires":[["f8910fbf.1dd2f"]]},{"id":"f8910fbf.1dd2f","type":"json","z":"f651c659.58e348","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":220,"wires":[["ce93daaa.565d58","9aebf00b.8b5a1"]]},{"id":"9aebf00b.8b5a1","type":"debug","z":"f651c659.58e348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"2189ab5f.2488d4","type":"postgres","z":"30a2a8b5.841838","postgresdb":"5d94fcb2.a8c3d4","name":"psql://db/smr","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":850,"y":240,"wires":[]},{"id":"eff3a777.9d1b58","type":"mqtt in","z":"30a2a8b5.841838","name":"","topic":"test4","qos":"2","datatype":"auto","broker":"2b0cf117.cff45e","nl":false,"rap":false,"x":150,"y":240,"wires":[["ae65dac0.90fdf8"]]},{"id":"ae65dac0.90fdf8","type":"json","z":"30a2a8b5.841838","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":240,"wires":[["90ac45a2.e38598","ac92e925.0a3f18"]]},{"id":"90ac45a2.e38598","type":"debug","z":"30a2a8b5.841838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":120,"wires":[]},{"id":"ac92e925.0a3f18","type":"function","z":"30a2a8b5.841838","name":"Sanitize","func":"//if (typeof msg.payload.lat === 'undefined') { msg.payload.lat = \"null\"; }\n//if (typeof msg.payload.long === 'undefined') { msg.payload.long = \"null\"; }\n//if (typeof msg.payload.alt === 'undefined') { msg.payload.alt = \"null\"; }\n\n// Caution These methods of escaping values only works\n// when the NO_BACKSLASH_ESCAPES SQL mode is disabled\n// (which is the default state for MySQL servers).\n\n// on settings.js\n// functionGlobalContext: {\n//    sqlstring:require(\"sqlstring\")\n// }\n\nconsole.log(\"TYPEOF PRES: \"+ typeof msg.payload.pres);\n//console.log(\"PRES: \"+ JSON.stringify(msg.payload));\n//msg.payload.pres = Number(msg.payload.pres);\n\nvar sqlstring = global.get(\"sqlstring\");\nvar sql    = 'INSERT INTO smr.air ( \\\n    device, \\\n    ts, \\\n    lat, \\\n    long, \\\n    alt, \\\n    sensor, \\\n    co2, \\\n    tvoc, \\\n    temp, \\\n    hum, \\\n    pres \\\n    ) values (?,?,?,?,?,?,?,?,?,?,?)';\n\nmsg.payload = sqlstring.format(sql, [\n    msg.payload.device,\n    msg.payload.ts,\n    msg.payload.lat,\n    msg.payload.long,\n    msg.payload.alt,\n    msg.payload.sensor,\n    msg.payload.co2,\n    msg.payload.tvoc,\n    msg.payload.temp,\n    msg.payload.hum,\n    msg.payload.pres\n    ] );\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":240,"wires":[["5979f2cb.3506fc","2189ab5f.2488d4"]]},{"id":"5979f2cb.3506fc","type":"debug","z":"30a2a8b5.841838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"3bffa50b.c4005a","type":"template","z":"89f16d5e.a373b","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO smr.air (\n    device,\n    ts,\n    lat,\n    long,\n    alt,\n    sensor,\n    co2,\n    tvoc,\n    temp,\n    hum,\n    pres\n) VALUES (\n    $device,\n    $ts,\n    $lat,\n    $long,\n    $alt,\n    $sensor,\n    $co2,\n    $tvoc,\n    $temp,\n    $hum,\n    $pres\n)","x":690,"y":220,"wires":[["d76a2c4b.d9476","76375954.b46b28"]]},{"id":"ec61e7da.139e18","type":"function","z":"89f16d5e.a373b","name":"setup params","func":"\nmsg.queryParameters = {};\nmsg.queryParameters.device = msg.payload.device;\nmsg.queryParameters.ts = msg.payload.ts;\nmsg.queryParameters.lat = msg.payload.lat;\nmsg.queryParameters.long = msg.payload.long;\nmsg.queryParameters.alt = msg.payload.alt;\nmsg.queryParameters.sensor = msg.payload.sensor;\nmsg.queryParameters.co2 = msg.payload.co2;\nmsg.queryParameters.tvoc = msg.payload.tvoc;\nmsg.queryParameters.temp = msg.payload.temp;\nmsg.queryParameters.hum = msg.payload.hum;\nmsg.queryParameters.pres = msg.payload.pres;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":220,"wires":[["3bffa50b.c4005a"]]},{"id":"ada4384a.0c1be8","type":"mqtt in","z":"89f16d5e.a373b","name":"","topic":"test5","qos":"2","datatype":"auto","broker":"2b0cf117.cff45e","nl":false,"rap":false,"x":110,"y":220,"wires":[["2085f0cc.3c315"]]},{"id":"2085f0cc.3c315","type":"json","z":"89f16d5e.a373b","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":220,"wires":[["ec61e7da.139e18","8660a21.f78fc6"]]},{"id":"8660a21.f78fc6","type":"debug","z":"89f16d5e.a373b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"d76a2c4b.d9476","type":"debug","z":"89f16d5e.a373b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"76375954.b46b28","type":"postgres","z":"89f16d5e.a373b","postgresdb":"5d94fcb2.a8c3d4","name":"psql://db/smr","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":910,"y":220,"wires":[[]]},{"id":"8e9b41d7.1458d","type":"mqtt in","z":"273e065d.1ae6ba","name":"","topic":"smmr2","qos":"2","datatype":"auto","broker":"2b0cf117.cff45e","x":230,"y":160,"wires":[["23ee49df.ded486"]]},{"id":"23ee49df.ded486","type":"csv","z":"273e065d.1ae6ba","name":"smmr-co2","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"device,ts,lat, long, alt, sensor, co2, tvoc, temp, hum, pres","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":420,"y":160,"wires":[["95b54c2a.0e999"]]},{"id":"95b54c2a.0e999","type":"template","z":"273e065d.1ae6ba","name":"build query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO smr.air VALUES (\n    '{{payload.device}}',\n    '{{payload.ts}}',\n    {{#payload.lat}}{{payload.lat}}{{/payload.lat}}\n        {{^payload.lat}}null{{/payload.lat}},\n    {{#payload.long}}{{payload.long}}{{/payload.long}}\n        {{^payload.long}}null{{/payload.long}},\n    {{#payload.alt}}{{payload.alt}}{{/payload.alt}}\n        {{^payload.alt}}null{{/payload.alt}},\n    '{{payload.sensor}}',\n    {{payload.co2}},\n    {{payload.tvoc}},\n    {{payload.temp}},\n    {{payload.hum}},\n    {{payload.pres}}\n    );","output":"str","x":630,"y":160,"wires":[["7d652495.34bd0c","b97bfca3.9e44d"]]},{"id":"7d652495.34bd0c","type":"debug","z":"273e065d.1ae6ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"b97bfca3.9e44d","type":"postgres","z":"273e065d.1ae6ba","postgresdb":"5d94fcb2.a8c3d4","name":"psql://db/smr","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":870,"y":160,"wires":[]},{"id":"55ed7970.d65478","type":"mqtt in","z":"d30f0a1e.6a6968","name":"","topic":"test3","qos":"2","datatype":"auto","broker":"2b0cf117.cff45e","nl":false,"rap":false,"x":290,"y":200,"wires":[["d4b9e193.d16f2"]]},{"id":"d4b9e193.d16f2","type":"csv","z":"d30f0a1e.6a6968","name":"smmr-co2","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"device,ts,lat, long, alt, sensor, co2, tvoc, temp, hum, pres","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":500,"y":200,"wires":[["a5a7e0e4.42a0d"]]},{"id":"a5a7e0e4.42a0d","type":"sqlstring-format","z":"d30f0a1e.6a6968","name":"","query":"INSERT INTO smr.air VALUES (\n    ?,\n    ?,\n    cast(? as double precision),\n    cast(? as double precision),\n    cast(? as double precision),\n    ?,\n    cast(? as numeric),\n    cast(? as numeric),\n    cast(? as double precision),\n    cast(? as double precision),\n    cast(? as double precision)\n    );","vars":"payload.device,payload.ts,payload.lat,payload.long,payload.alt,payload.sensor,payload.co2,payload.tvoc,payload.temp,payload.hum,payload.pres","outField":"payload","x":710,"y":200,"wires":[["6e182997.3d91c8","89f2367a.05f698"]]},{"id":"6e182997.3d91c8","type":"debug","z":"d30f0a1e.6a6968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":80,"wires":[]},{"id":"89f2367a.05f698","type":"postgres","z":"d30f0a1e.6a6968","postgresdb":"5d94fcb2.a8c3d4","name":"psql://db/smr","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":970,"y":200,"wires":[]}]